<pre style='font-family: monospace; text-align: center; font-size: 20'>
	<p><%=@w%></p>
</pre>

<h2 style='font-family: monospace; text-align: center; font-size: 20'>
Try another fonts like:
<ul>
<li><a href="/ascii/<%= @word %>/alligator">alligator</li>
<li><a href="/ascii/<%= @word %>/3-d">3-d</li>
<li><a href="/ascii/<%= @word %>/3x5">3x5</li>
<li><a href="/ascii/<%= @word %>/acrobatic">acrobatic</li>
<li><a href="/ascii/<%= @word %>/avatar">avatar</li>
<li><a href="/ascii/<%= @word %>/battle_s">battle_s</li>
<li><a href="/ascii/<%= @word %>/cosmic">cosmic</li>
<li><a href="/ascii/<%= @word %>/computer">computer</li>
<li><a href="/ascii/<%= @word %>/doh">doh</li>
<li><a href="/ascii/<%= @word %>/epic">epic</li>
<li><a href="/ascii/<%= @word %>/fraktur">fraktur</li>
<br><br>
<li><a href="https://github.com/miketierney/artii/tree/master/lib/figlet/fonts">other fonts in their github</li>
</ul>
</h2>